.feed {
    margin-top: 2em;

    margin-bottom: 2em;
    border-radius: 12px;
    grid-column: 2;
    min-height: 75vh;
    display: grid;

    grid-gap: 1.5em;
    grid-auto-rows: min-content;


 
  
}

.newPost {

    width:100%;
  

    border-radius: 12px;
    display: grid;
    align-items: center;
    grid-gap: 6px;
 
    max-width: 40em;
    justify-self: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.post {
  
    background-color:#242526;
    

 


    border-radius: 9px;
    display: grid;
    min-width: 24em;


    max-width: 40em;
    width:100%;
    justify-self: center;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;




}

.postHeader {
    grid-row: 1;
    grid-column: 1/-1;
  
    display: grid;
    align-items: center;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;

    justify-items: start;

    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.1em;
    padding:9px;
    margin-top: 0.3em;

    


}

.postContent {
    border-top: solid 1px rgba(255, 255, 255, 0.282);
    display: grid;
    align-items: center;

 


    justify-items: start;
    padding-left: 8px;
    padding: 9px;
    text-align: start;
    margin-left: 1em;
    margin-right: 1em;

}

.contentButton {

    cursor: pointer;

    font-size: 0.9em;
    font-weight: 800;
    margin-top: 0.5em;
}

.postFooter{
 
    grid-column: 1/-1;

    display: grid;
    align-items: center;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;

    justify-items: start;
    padding: 9px;
    height:1em;
    border-top: solid 1px rgba(255, 255, 255, 0.282);
    margin-left: 1em;
    margin-right: 1em;

   



}

.postFooter i {
    cursor: pointer;
  
    
}

.postFunctionWrap {
    width:100%;
    display: grid;
    grid-template-columns: auto auto 1fr ;
    grid-gap: 10px; 
}

.commentSection {
    display: grid;
    grid-gap: 10px;
    justify-items: start;
padding-top: 0.7em;
padding-bottom:1em;

    margin-left: 1em;
    margin-right: 1em;
}
.commentWrap {
    display: grid;
    grid-template-columns: 1fr 1em;
    grid-gap: 5px;
    position: relative;
  
}

.commentHeader {
    grid-column: 1/-1;
    width:100%;
    text-align: start;
    margin-bottom: 8px;
    font-weight: 900;




}

.commentWrap i {
    align-self: center;
    cursor: pointer;
    
}

.comment {
    background-color:#3A3B3C;
    padding:1em;
    word-wrap: break-word;
    word-break: break-all;  
    border-radius: 12px;
    display: grid;
    justify-items: start;
    text-align: start;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.loadMore {
    justify-self: start;
    margin-left:1em;
    margin-bottom: 1em;
    font-size: 0.8em;
    font-weight: 800;
}
.noMore {
    justify-self: start;
    margin-left:1em;
    margin-bottom: 1em;
    font-size: 0.8em;
}

.loadMore {
    cursor: pointer;
}
.commentMenu {
    width:8em;
   
    position: absolute;
    background-color:#242526;
    left:-20px;    
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 6px;
    font-size: 0.8em;
    cursor: pointer;

}
.commentMenuWrap {
    height:100%;
    display: grid;
    align-items: center;
    position: relative;
}

.commentMenu p {

    align-self: flex-start;
    padding:5px;
}

.commentMenu p:hover {
    border-radius: 2px;
    background-color:#3A3B3C;

}

.commentFunctions {
 
    width:100%;
    justify-items: start;
    justify-content: start;
    text-align: start;
    padding-left:1em;
    font-size: 0.7em;
    font-weight: 600;
    margin-top: 4px;
    cursor: pointer;


}