.feed {
    margin-top: 2em;

    margin-bottom: 2em;
    border-radius: 12px;
    grid-column: 2;
    min-height: 75vh;
    display: grid;
    padding:1em;
    grid-gap: 1.5em;
    grid-auto-rows: min-content;
}

.newPost {

    width:100%;
  

    border-radius: 12px;
    display: grid;
    align-items: center;
    grid-gap: 6px;
 

}

.post {
  
    background-color:#242526;
    
    min-height: 4em;
 


    border-radius: 9px;
    display: grid;




}

.postHeader {
    grid-row: 1;
    grid-column: 1/-1;
  
    display: grid;
    align-items: center;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;

    justify-items: start;

    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.1em;
    padding:9px;
    margin-top: 0.3em;

    


}

.postContent {
    border-top: solid 1px rgba(255, 255, 255, 0.282);
    display: grid;
    align-items: center;
 


    justify-items: start;
    padding-left: 8px;
    padding: 9px;
    text-align: start;
    margin-left: 1em;
    margin-right: 1em;

}

.contentButton {
    color:rgb(190, 104, 244);
    cursor: pointer;
}

.postFooter{
 
    grid-column: 1/-1;

    display: grid;
    align-items: center;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;

    justify-items: start;
    padding: 9px;
    height:1em;
    border-top: solid 1px rgba(255, 255, 255, 0.282);
    margin-left: 1em;
    margin-right: 1em;

   



}

.postFooter i {
    cursor: pointer;
  
    
}

.postFunctionWrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;


 
}
