.feed {
    margin-top: 2em;
    background-color: #242526;
    margin-bottom: 2em;
    border-radius: 12px;
    grid-column: 2;
    min-height: 75vh;
    display: grid;
    padding:1em;
    grid-gap: 1.5em;
    grid-auto-rows: min-content;
}

.newPost {

    width:100%;
  

    border-radius: 12px;
    display: grid;
    align-items: center;
    grid-gap: 6px;
 

}

.post {
  
    background-color: rgb(63, 62, 62);
    min-height: 4em;
    padding:1em;


    border-radius: 12px;
    display: grid;
    align-items: center;

}

