.header {
    height:5em;
    width:100vw;
    background-color: #242526;
    display: grid;
    padding-left: 2em;
    grid-template-columns: auto 1fr 1fr;
}

.logo {
    height:100%;
    width:3em;
    display: grid;
    margin-right: 2em;  
    
}

.logoInner {
    align-self: center;
    background-color: #F4F7FD;
    width:3em;
    height:3em;
    justify-self: center;
    display: grid;
    align-items: center;
    padding: 2px;
}

.searchWrap {
    align-self: center;
    width:18em;
    position: relative;
}

.searchBox {
    width:100%;
    height:1.5em;
    border:none;
    outline:none;
    padding-left: 14px;
    color:#292929cf;
    height:2em;
    border-radius: 12px;
    background-color: #3a3a3c;
    color: rgb(241, 237, 237);
}

.searchRes {
    height:300px;
    width:100%;
    background-color: #3a3a3c;
    position: absolute;
    padding-left: 14px;
    border-radius: 12px;
    top:30px;

    

}